//
// Dagmara Kotecka 2016
// 

extends layout
v
block content
  .panel.panel-primary
    .panel-heading Dagmara Kotecka - Retrospective Analyzer
  .container
    .row
    .p2 360 Degrees of appreciation
    .p3 A team building game called 360-degrees of appreciation. The game is an activity that fosters open appreciation feedback within a team. The game is useful in case of increasing team moral and improving people relationship. The rules are as follows:
    .p4 Gather all participants around the table.
    .p4 Write appreciations on your paper for each member of the team gathered around the table.
    .p4 If everyone is ready, ask the participants to sit in a circle.
    .p4 Chose one person that will sit or stand in the middle of the circle.
    .p4 Everyone in the circle should read theirs appreciations toward the person sitting in the center.
    .p4 Repeat steps four and five for everyone in the circle.
    img(class="pictures" src="pictures/360.jpg")