//
// Dagmara Kotecka 2016
// 

extends layout
v
block content
  .panel.panel-primary
    .panel-heading Dagmara Kotecka - Retrospective Analyzer
  .container
    .row
    .p2 5L's: Liked, Learned, Lacked of, Longed for, Loathed 
    .p3 The 5L's game is an extension of a commonly known 4L's game. You need sticky notes and the board and the rules are as follows:
    .p4 Liked - things that the participants liked about the past iteration, considering project and team.
    .p4 Learned - things that the team members learned in the past iteration, new language, used new framework or tool, this might also be things not connected to the project like for example while being on a integration with the team the participants learned how to windsurf or make sushi.
    .p4 Lacked of - things that have been done in the past iteration and you do not want to stop doing them but you have an idea how to do it better, how to improve the action, or just wish that it could be done, for example more efficiently.
    .p4 Longed for - things that you wish would have been done, for example more attention on code quality, rather than focusing just on the delivery.    .p4 Loathed - things that we did not like in the past iteration.
    img(class="pictures" src="pictures/5L.png")