//
// Dagmara Kotecka 2016
// 

extends layout
v
block content
  .panel.panel-primary
    .panel-heading Dagmara Kotecka - Retrospective Analyzer
  .container
    .row
    .p2 Candy Love
    .p3 The Candy-Love is team building game rather than solving problems in case of project, but in order to maximize performance and product quality it is advisable to have strong and integrated team. "Candy Love" game integrates team members by letting them speak up and talk about their life beyond work. The participants need to sit at the table, without laptops and other distracting things. One person picks the candy out of the jar and shows it to the team, than checks the candy color meaning. The others need to focus on what the person which picked the candy is talking about. The meanings of the colors are necessary to have in order to properly perform the game, because it’s hard to remember all the meanings of the colors, which are as follows:
    .p4 Red - share one thing that you like about your job, this color retrieves positive emotions, especially on people that are not satisfied or happy with what they do.
    .p4 Yellow - share your life goal that you are working on, this color illustrates others what is important for that person and can inspire.
    .p4 Green - share your favorite movie or/and book, this shows person from different angle, maybe this might start a conversion later with people that we usually have nothing to talk about.
    .p4 Purple - share your favorite way of reviving yourself on a regular workday, this color shows what the person thinking about to decrease stress and might be also a great catalyst for a conversation.
    .p4 Blue - share one stressful thing in work that you wish you could improve, this color shows what stresses person out, maybe someone has a solution that can share, this can also convert a negative thing into a positive. 
    .p4 Orange - share what is your favorite food, maybe later you can share a meal with someone from the team and it is a topic that everyone likes.    .p3 The participants should pass the jar to each team member and end the game when all the candies are gone, when all the team members picked one sweet or when the time of the meeting has ended.
    img(class="pictures" src="pictures/candy.jpg")