//
// Dagmara Kotecka 2016
// 

extends layout
v
block content
  .panel.panel-primary
    .panel-heading Dagmara Kotecka - Retrospective Analyzer
  .container
    .row
    .p2 Glad, Mad, Sad
    .p2 Creativity - 3, Team Mood - 10, Collaboration - 1, Communication - 4, Involvement - 2, Change of perspective - 1, Honesty - 1, Entertainment - 5, Improvement - 7 
    .p3 The Glad, Mad, Sad game, also known as Happy, Sad, Angry is a game in which the manager or scrum master is able to observe teams mood, which is definitely a useful factor to retrieve from a retrospective meeting. The scrum master should draw three columns with Glad, Mad and Sad face, where each space has its own meaning and purpose:
    .p4 Happy Face symbolizes successful things which occurred in current iteration, accomplishments and valuable effects for the team and project, things that we learned and you are thankful for.
    .p4 Sad Face symbolizes things that made a team member not satisfied of his/hers work, an action which could be done better.
    .p4 Angry Face symbolizes things which caused problems that made team members annoyed, issues which were the source of iteration failure or the work harder than could have been using e.g. other tool, framework etc.
    .p3 The next step, after team members understands what is the purpose and what are the rules of described game, is to fill sticky notes and discuss.
    img(class="pictures" src="pictures/mgs.png")