//
// Dagmara Kotecka 2016
// 

doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/analyzer.css')
    link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans")
  body
    .content
      .left
        block content
    script(src="./javascripts/jquery-1.11.3.min.js")
    script(src="./javascripts/bootstrap.min.js")
    script(src="./javascripts/analyzer.js")