//
// Dagmara Kotecka 2016
// 

extends layout
v
block content
  .panel.panel-primary
    .panel-heading Dagmara Kotecka - Retrospective Analyzer
  .container
    .row
    .p2 Mood & Improvements
    .p3  The mood and improvements is a merge of Glad, Mad, Sad and 360 Degrees of appreciation. The goal is to retrieve as valuable as possible feedback from the team about the project and simultaneously increase the trust, strengthen the relationship between team members and retrieve from the team ideas how to improve the project or the team. The first three fields on the top are described in Glad/Mad/Sad tab, the lower area of the picture presents:
    .p4 Flowers - representation of statement "Appreciations", in this section we thank people for things that they have done for us, the team, the project in the past iteration, e.g. quick and upright code review, help in the task etc
    .p4 Light bulb - is the representation of expression "Ideas", in this area we stick the papers with concepts how to improve the team or the project, e.g. estimate more carefully on the planning, dedicate some time in the iteration to increase code coverage etc.

       
    img(class="pictures" src="pictures/mood.jpg")