//
// Dagmara Kotecka 2016
// 

extends layout
v
block content
  .panel.panel-primary
    .panel-heading Dagmara Kotecka - Retrospective Analyzer
  .container
    .row
      h2 Answer the below questions in order to retrieve your retrospective game (1-5)
      p5 Does your team need creativity increase:
      form(role='form', id="creativity")
        label.radio-inline
          input(type='radio', name='optradio', value='1')
          | 1
        label.radio-inline
          input(type='radio', name='optradio', value='2')
          | 2
        label.radio-inline
          input(type='radio', name='optradio', value='3')
          | 3
        label.radio-inline
          input(type='radio', name='optradio', value='4')
          | 4
        label.radio-inline
          input(type='radio', name='optradio', value='5')
          | 5
      p5 Is your team motivated during the retrospective meetings:
      form(role='form', id="collaboration")
        label.radio-inline
          input(type='radio', name='optradio', value='1')
          | 1
        label.radio-inline
          input(type='radio', name='optradio', value='2')
          | 2
        label.radio-inline
          input(type='radio', name='optradio', value='3')
          | 3
        label.radio-inline
          input(type='radio', name='optradio', value='4')
          | 4
        label.radio-inline
          input(type='radio', name='optradio', value='5')
          | 5
      p5 Is it important for you to retrieve team mood, while playing:
      form(role='form', id="teammood")
        label.radio-inline
          input(type='radio', name='optradio', value='1')
          | 1
        label.radio-inline
          input(type='radio', name='optradio', value='2')
          | 2
        label.radio-inline
          input(type='radio', name='optradio', value='3')
          | 3
        label.radio-inline
          input(type='radio', name='optradio', value='4')
          | 4
        label.radio-inline
          input(type='radio', name='optradio', value='5')
          | 5
      p5 Is your team communicative in the meetings:
      form(role='form', id="communication")
        label.radio-inline
          input(type='radio', name='optradio', value='1')
          | 1
        label.radio-inline
          input(type='radio', name='optradio', value='2')
          | 2
        label.radio-inline
          input(type='radio', name='optradio', value='3')
          | 3
        label.radio-inline
          input(type='radio', name='optradio', value='4')
          | 4
        label.radio-inline
          input(type='radio', name='optradio', value='5')
          | 5
      p5 How involved in the retrospective meeting are the team members:
      form(role='form', id="involvement")
        label.radio-inline
          input(type='radio', name='optradio', value='1')
          | 1
        label.radio-inline
          input(type='radio', name='optradio', value='2')
          | 2
        label.radio-inline
          input(type='radio', name='optradio', value='3')
          | 3
        label.radio-inline
          input(type='radio', name='optradio', value='4')
          | 4
        label.radio-inline
          input(type='radio', name='optradio', value='5')
          | 5
      p5 Do you think that honesty should be improved in your team:
      form(role='form', id="honesty")
        label.radio-inline
          input(type='radio', name='optradio', value='1')
          | 1
        label.radio-inline
          input(type='radio', name='optradio', value='2')
          | 2
        label.radio-inline
          input(type='radio', name='optradio', value='3')
          | 3
        label.radio-inline
          input(type='radio', name='optradio', value='4')
          | 4
        label.radio-inline
          input(type='radio', name='optradio', value='5')
          | 5
      p5 How much would you like to change the perspective of the retrospective meetings:
      form(role='form', id="perspective")
        label.radio-inline
          input(type='radio', name='optradio', value='1')
          | 1
        label.radio-inline
          input(type='radio', name='optradio', value='2')
          | 2
        label.radio-inline
          input(type='radio', name='optradio', value='3')
          | 3
        label.radio-inline
          input(type='radio', name='optradio', value='4')
          | 4
        label.radio-inline
          input(type='radio', name='optradio', value='5')
          | 5
      p5 Does your team has problems with evaluating the improvements during/after retrospective:
      form(role='form', id="improvement")
        label.radio-inline
          input(type='radio', name='optradio', value='1')
          | 1
        label.radio-inline
          input(type='radio', name='optradio', value='2')
          | 2
        label.radio-inline
          input(type='radio', name='optradio', value='3')
          | 3
        label.radio-inline
          input(type='radio', name='optradio', value='4')
          | 4
        label.radio-inline
          input(type='radio', name='optradio', value='5')
          | 5
      p5 How important for you it is to be entertained during the retrospective meeting:
      form(role='form', id="entertainment")
        label.radio-inline
          input(type='radio', name='optradio', value='1')
          | 1
        label.radio-inline
          input(type='radio', name='optradio', value='2')
          | 2
        label.radio-inline
          input(type='radio', name='optradio', value='3')
          | 3
        label.radio-inline
          input(type='radio', name='optradio', value='4')
          | 4
        label.radio-inline
          input(type='radio', name='optradio', value='5')
          | 5
        
      button.btn.btn-default(type='button', class=" btn-lg btn btn-success mybutton submitBtn" disabled="true") Submit
      button.btn.btn-default(type='button', class=" btn-lg btn btn-danger mybutton cancelBtn") Cancel
  div.thankyou  

