//
// Dagmara Kotecka 2016
// 

extends layout
v
block content
  .panel.panel-primary
    .panel-heading Dagmara Kotecka - Retrospective Analyzer
  .container
    .row
    .p2 Speedboat
    .p3 Speedboat” (also known as Sailboat) is a game which changes the perspective of looking on retrospective and problems. Team members do not focus what problems they had in terms of ordering them into three columns using 3-statement method, but thanks to change of view they start to think creatively and might retrieve more valuable issues and the rules are as follows:
    .p4 The cloud which is creating the wind symbolizes things that were successful, things that are pushing forward our team and product, for example good code reviews in previous sprint, members of the team share knowledge and help others.
    .p4 The anchor symbolizes things which could have been done better, because the idea is goodbut the execution is not being done well, for example crowding pull request reviews because only one person is doing them, bad communication in the team caused e.g. solving problems that someone already had and did not share with others the solution, wasted time
    .p4 The rocks symbolize statement things that we wish did not happen again, something that may cause our product major problems now or in the future, those are things that we need to lose, for example planning did not go well, so many people were without tasks because of bad division or dependency.
    .p3 The game should start with describing people what is game about. The main aspect is that people understand what is required from them during “Speedboat” game, finally it is time to fill sticky notes and discuss.
    img(class="pictures" src="pictures/speedboat.jpg")