//
// Dagmara Kotecka 2016
// 
extends layout
v
block content
  .panel.panel-primary
    .panel-heading Dagmara Kotecka - Retrospective Analyzer
  .container
    .row
    .p2 Starfish
    .p3 The game is called "Starfish", because this shape divides board to five areas and it shows a totally different approach for conducting retrospective. The rules of this technique are as follows:
    .p4 Keep doing - this area describes things which are being done well by the team and they should continue doing them because they are valuable for the project and team members.
    .p4 Stop doing - things which are "not bringing value, or even worse, it is getting in the way".
    .p4 Start doing - things which were working for you in the past in other team/project or new ideas, approaches which might help team in delivering product and in general are beneficial for the team.
    .p4 Less of - things which are being done already and they bring value, but should be reduced.
    .p4 More of - things which are being done already and they bring value, but they would bring more value if done more.
    .p3 This game shows a different perspective than is in usual 3-statement method and thanks to that, leaders are able to retrieve problems and issues in nonstandard fields. When the participants get the game it is time for sticking the sticky notes to the areas and discussion.

    img(class="pictures" src="pictures/starfish.png")